
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;600;700&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
h1{
    font-size:36px;
    font-weight: 700;
    line-height: 1.5rem;
    
}
h2{
    font-size:22px;
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    color:#fac296;
}
p{
    margin:0;
    padding:0;
    font-size:18px;
    font-weight: 500;
    color:#3333;
}
span{
    font-style: italic;
    font-size: 16px;
}
.btn{
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
input{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    outline: 0 !important;
    border:none !important;
    background: #d8d7d9 !important;
}
input::placeholder{
    color:#004b6b !important;
}
.meal-content{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:.5rem;
    margin-top:1rem;
}
.card{
    padding:.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    outline: none !important;
}
.btn-outline-primary{
    display:flex;
    justify-content: center;
    align-items: center;
    width:140px !important;
    height:40px !important;
}
.meal-content.notFound{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width:390px) {
    h1{
        font-size: 22px;
    }
    p{
        font-size:16px;
    }
}
@media screen and (max-width:550px) {
    h1{
        font-size: 24px;
    }
    p{
        font-size:16px;
    }
    .meal-content{
        grid-template-columns: repeat(2,1fr);
    }
}